
<ion-header>
    <ion-navbar>
        <ion-buttons end>
            <button ion-button icon-only (click)="goToHome()">
                <ion-icon name="home" style="color: #ccc;"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Special Offers</ion-title>
    </ion-navbar> 
</ion-header>


<ion-content>
    <ion-searchbar name="query"></ion-searchbar>

    <div style="border-top: 1px solid #e8e8e8;">
        <img src="assets/img/card-saopaolo.png">
        <div style='padding:0 10px 10px 10px;'>
            <h2 style="font-size: 16px; margin:0px;">Buy a liters of oil and get 1.5Kg of rice free</h2>
            <h6 style='font-size: 12px; font-weight: normal;'>This promo starts today and ends tomorrow. We upgraded our application system on April 25, 2017. If you submitted your application prior to that date, you do NOT need to apply again; we have your application. </h6>
            <h6 style='color: #919191; font-size: 12px; margin: 0px; font-weight: normal;'>Dtech limited</h6>
            <!-- <p>{{biz.biz_intro_message}}</p> -->
            <!-- <button style="color: #23a24d;" ion-button clear item-right >View</button> -->
        </div>
    </div>

    <div style="border-top: 1px solid #e8e8e8;">
        <img src="assets/img/card-saopaolo.png">
        <div style='padding:0 10px 10px 10px;'>
            <h2 style="font-size: 16px; margin:0px;">Buy a liters of oil and get 1.5Kg of rice free</h2>
            <h6 style='font-size: 12px; font-weight: normal;'>This promo starts today and ends tomorrow. We upgraded our application system on April 25, 2017. If you submitted your application prior to that date, you do NOT need to apply again; we have your application. </h6>
            <h6 style='color: #919191; font-size: 12px; margin: 0px; font-weight: normal;'>Dtech limited</h6>
            <!-- <p>{{biz.biz_intro_message}}</p> -->
            <!-- <button style="color: #23a24d;" ion-button clear item-right >View</button> -->
        </div>
    </div>

    <div style="border-top: 1px solid #e8e8e8;">
        <img src="assets/img/card-saopaolo.png">
        <div style='padding:0 10px 10px 10px;'>
            <h2 style="font-size: 16px; margin:0px;">Buy a liters of oil and get 1.5Kg of rice free</h2>
            <h6 style='font-size: 12px; font-weight: normal;'>This promo starts today and ends tomorrow. We upgraded our application system on April 25, 2017. If you submitted your application prior to that date, you do NOT need to apply again; we have your application. </h6>
            <h6 style='color: #919191; font-size: 12px; margin: 0px; font-weight: normal;'>Dtech limited</h6>
            <!-- <p>{{biz.biz_intro_message}}</p> -->
            <!-- <button style="color: #23a24d;" ion-button clear item-right >View</button> -->
        </div>
    </div>

</ion-content>
