
.login-page {
    width: 100%;
    height: 100%;
    background-image: url('../assets/img/login-bg.jpg');
    background-size: cover;
}

.color-primary {
    background-color: #23a24d !important;
}

.color-secondary {
    background-color: #ebba16 !important;
}

.login-page .login-content {
    margin: 25% 5% 25% 5%;
    width: 90%;
    height: 50%;
}

.login-page .login-content img {
    width: 5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-page .login-content h4 {
    text-align: center;
    display: block;
    margin: 1em 0em 1em 0em;
}

.login-page .login-content p {
    text-align: center;
    margin-top: 2em;
}