
<ion-content class="login-page">
  <div class="login-content">
    <a (click)="goBackHome()"><img src="assets/img/logo2.png" /></a>
    <h4>Login to your Account</h4>

    <!-- Login Body -->
    <div class="login-form">
      <form ng-submit="login()">
        <ion-list>

          <ion-item>
            <ion-label stacked>Username</ion-label>
            <ion-input type="text" name="biz_email" [(ngModel)]="user.biz_email" ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Password</ion-label>
            <ion-input type="password" name="biz_password" [(ngModel)]="user.biz_password" ></ion-input>
          </ion-item>

        </ion-list>

        <div>
          <button class="color-primary" block ion-button (click)="login(user)">Sign In</button>
        </div>
      </form>
    </div>
    <!-- End -->

    <p>Dont have an Account yet? <a style="color: #23a24d !important;" (click)="goToSignup()">Sign up</a></p>    
  </div>

</ion-content>
