
<ion-header>

  <ion-navbar>
    <ion-title>Photo Gallery</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<button ion-button block outline item-right icon-left class="has-header" (click)="presentActionSheet()">
		<ion-icon name="camera"></ion-icon>
		Upload Image
	</button>

	<ion-slides pager>

		<ion-slide style="background-color: green">
			<h2>Slide 1</h2>
		</ion-slide>

		<ion-slide style="background-color: blue">
			<h2>Slide 2</h2>
		</ion-slide>

		<ion-slide style="background-color: red">
			<h2>Slide 3</h2>
		</ion-slide>

	</ion-slides>

</ion-content>
