 <!--
  Generated template for the Smetips page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar style="margin: 0px;">
    	<ion-title>SME Tips</ion-title>
  	</ion-navbar>
</ion-header>


<ion-content>
	<section>
        <!-- <p>What would you like to do today?</p> -->
        <ion-row>
            <ion-col>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/CSFk7pazlBo" frameborder="0" width="640" height="360"></iframe>
                </div>
                <div style="padding: 0.5em; border-bottom: 1px solid #e8e8e8;">
                	<p style="font-size: 16px;">5 Tips to grow your business</p>
                    <p style="font-size: 13px;">
                        Sales Training Expert Grant Cardone gives 5 business tips on what entrepreneurs or small business owners need to do in order to grow their business.
                    </p>
                </div>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/sGNDARIu11A?ecver=1" frameborder="0" width="640" height="360" allowfullscreen></iframe>
                </div>
                <div style="padding: 0.5em; border-bottom: 1px solid #e8e8e8;">
                	<p style="font-size: 16px;">How to grow your business and sales faster</p>
                    <p style="font-size: 13px;">
                        Revenue Growth Strategies - Where to Grow Your Sales. In this video I cover four revenue growth strategy that you sales team can focus on to boost their sales and pipeline. For more sales training tips on selling, go to http://www.victorantonio.com
                    </p>
                </div>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/wNAQrAr3M9Y?ecver=1" frameborder="0" width="640" height="360" allowfullscreen></iframe>
                </div>
                <div style="padding: 0.5em; border-bottom: 1px solid #e8e8e8;">
                	<p style="font-size: 16px;">How to Grow Your Small Business Using Social Media and Become Successful</p>
                    <p style="font-size: 13px;">
                        Social media is now the new media annd is integral to growth of any business. You can learn How to Grow Your Small Business Using Social Media and Become Successful on the video
                    </p>
                </div>
            </ion-col>
        </ion-row>


    </section>
</ion-content>
