
ion-header {
  width: 100%;
  height: 10%;
  padding-top: 0.5em;
}

ion-header img {
  width: 2em;
  display: block;
  margin: auto;
}

.dashboard-body { 
  height: 100%;
}

.dashboard-banner {
  margin-top: -0.8em;
  width: 100%;
  height: 10%;
  padding-top: 2em;
  background-size: cover;
  background-image: linear-gradient(rgba(35, 162, 77, 0.5),rgba(35, 162, 77, 0.5)), url('../assets/img/dashboard-banner.jpg');
}

.dashboard-banner p,h3 {
  text-align: center;
  color: #fff;
}

.dashboard-banner h3 {
  margin-top: -0.5em;
}

.dashboard-menu {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  padding: 1em 0em 1em 0em;
}

.dashboard-menu p {
  text-align: center;
  color: #23a24d;
}

.dashboard-menu ion-grid {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 2em;
}

.dashboard-menu ion-grid button {
  height: 6em;
  width: 90%;
  margin-top: 1em;
  border: 1px solid #23a24d;
  background-color: #fff;
  color: #23a24d;
}

.dashboard-menu #bottom-text {
  color: #23a24d;
  text-align: center;
}

.dashboard-category{
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}



ion-segment {
    justify-content: space-between;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
    }

    ion-segment-button.segment-button {
        flex: 1 0 100px;
    }
}