<ion-header>  
    <ion-icon name="menu" menuToggle></ion-icon>
    <img src="assets/img/logo2.png" />
</ion-header>

<ion-menu [content]="mycontent">
    <ion-content>
        <ion-list>
            <button ion-item menuClose>
                Messages <i class="icon ion-chevron-right"></i>
            </button>
            <button ion-item menuClose>
                 <i class="icon ion-chevron-right"></i>
            </button>
            <button ion-item menuClose>
                SME Tips <i class="icon ion-chevron-right"></i>
            </button>
            <button ion-item menuClose (click)="openPage(HomePage)">
                Logout <i class="icon ion-chevron-right"></i>
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>

<ion-content class="dashboard-body">
    <section>
        <div style="font-size: 13px; text-align: center; padding: 10px; text-transform: uppercase; padding-bottom: 3px;">
            <strong>Welcome, {{businessName}}</strong>
        </div>
    </section>
    
    <section class="dashboard-category">
        <div style="font-size: 13px; text-align: center; padding: 10px; color: #ccc;">
            {{businessIntroMessage}}
        </div>
        <div style="font-size: 13px; text-align: center; padding: 7px; border-top:1px solid #e8e8e8;">
            <ion-chip color="secondary">
                <ion-icon name="heart" color="dark"></ion-icon>
                <ion-label>BizStreet ID: BS000{{businessId}}</ion-label>
            </ion-chip>
            <ion-chip color="light">
                <ion-icon name="pin"></ion-icon>
                <ion-label>Abuja</ion-label>
            </ion-chip>
        </div>
    </section>

    <section class="dashboard-menu">
        <!-- <p>What would you like to do today?</p> -->
        <ion-row>
            <ion-col>
                <ion-card>
                    <!-- <img src="assets/img/card-saopaolo.png" alt=""> -->
                    <div style="padding: 0.5em;">
                        <p style="font-size: 13px; color: #ccc;">
                            <br />
                            <strong>#SMETips</strong> is our online learning platform to teach you what you need to learn about Small businesses
                            <br /><br />
                            <button block (click)="goToSmetips()" ion-button color="dark">
                                <img src="assets/img/icons/knowledge.png" alt="" height="30px" width="30px">  SME Tips
                            </button>
                        </p>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-card>
                    <!-- <img src="assets/img/card-saopaolo.png" alt=""> -->
                    <div style="padding: 0.5em;">
                        <p style="font-size: 13px; color: #ccc;">
                            <br />
                            We sell health insurance at an unbelievable rate to businesses on our platform
                            <br /><br />
                            <button block (click)="goToHealthInsurance()" ion-button color="dark"><img src="assets/img/icons/health.png" alt="" height="30px" width="30px">  Buy Health Insurance</button>
                        </p>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-card>
                    <!-- <img src="assets/img/card-saopaolo.png" alt=""> -->
                    <div style="padding: 0.5em;">
                        <p style="font-size: 13px; color: #ccc;">
                            <br />
                            We can help you register your business with CAC in 7 working days. Isn't this MAGICAL?
                            <br /><br />
                            <button block (click)="goToCacRegister()" ion-button color="dark"><img src="../assets/img/icons/legal.png" alt="" height="30px" width="30px"> Register your business</button>
                        </p>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-card>
                    <!-- <img src="assets/img/card-saopaolo.png" alt=""> -->
                    <div style="padding: 0.5em;">
                        <p style="font-size: 13px; color: #ccc;">
                            <br />
                            We can help you get soft loans from th e range of 50K to 1M.
                            <br /><br />
                            <button block (click)="goToGetloan()" ion-button color="dark"><img src="../assets/img/icons/legal.png" alt="" height="30px" width="30px"> Apply for a loan</button>
                        </p>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>

         <ion-row>
            <ion-col>
                <ion-card>
                    <!-- <img src="assets/img/card-saopaolo.png" alt=""> -->
                    <div style="padding: 0.5em;">
                        <p style="font-size: 13px; color: #ccc;">
                            <br />
                            Get information on exportation
                            <br /><br />
                            <button block (click)="goToGetloan()" ion-button color="dark"><img src="../assets/img/icons/legal.png" alt="" height="30px" width="30px"> Learn about Exportation</button>
                        </p>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col>
                <ion-card>
                    <!-- <img src="assets/img/card-saopaolo.png" alt=""> -->
                    <div style="padding: 0.5em;">
                        <p style="font-size: 13px; color: #ccc;">
                            <br />
                            We have accrediated consultants on the platform that can be of service to you
                            <br /><br />
                            <button block ion-button color="dark"><img src="../assets/img/icons/legal.png" alt="" height="30px" width="30px"> Business Advisory</button>
                        </p>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>

    </section>

</ion-content>

<ion-footer class="home-footer">
    <!-- <p>Register your business</p> -->
    <ion-row>
        <ion-col col-6>
            <button (click)="goToEditProfile()" ion-button color="light">Profile</button>
        </ion-col>
        <ion-col col-6>
            <button ion-button color="light" (click)="goToMessages()">Messages</button>
        </ion-col>
    </ion-row>
</ion-footer>
