
ion-segment {
    width: 100%;
    height: 10%;
    padding: 0px !important;
}

ion-segment-button {
    background-color: #23a24d !important;
    color: #fff !important;
    height: 100%;
    margin-top: -1.5em;
    // border: 1px solid #23a24d;
    // border-radius: 3px;
}

.profile-edit {
    width: 100%;
    top: 10%;
    height: 90%;
}

.update-btn {
    background-color: #23a24d;
}