<ion-header>
	<ion-title>Profile settings</ion-title>
</ion-header>


<ion-content>
	<button ion-button block outline item-right icon-left class="has-header" (click)="goToGallery()">
		<ion-icon name="camera"></ion-icon>
		Gallery
	</button>


	<div padding class="profile-edit">
		<div class="login-form">
			<form ng-submit="signup()">
				<ion-list>

					<ion-item>
						<ion-label stacked>Name Of Business</ion-label>
						<ion-input type="text" [ngModel]="biz?.biz_name" name="biz_name"  (ngModelChange)="biz.biz_name = $event" ></ion-input>
					</ion-item>

					<ion-item>
						<ion-label stacked>Email</ion-label>
						<ion-input type="email" [ngModel]="biz?.biz_email" name="biz_email"  (ngModelChange)="biz.biz_email = $event" ></ion-input>
					</ion-item>

					<ion-item>
						<ion-label stacked>Phone Number</ion-label>
						<ion-input type="number" [ngModel]="biz?.biz_phone" name="biz_phone"  (ngModelChange)="biz.biz_phone = $event" ></ion-input>
					</ion-item>

					<ion-item>
						<ion-label stacked>Address</ion-label>
						<ion-input type="text" [ngModel]="biz?.biz_address" name="biz_address" (blur)="getCoordinates(biz.biz_address)" (ngModelChange)="biz.biz_address = $event" ></ion-input>
					</ion-item>

					<!-- <div *ngIf="Coord"> -->
						
						<ion-item>
							<ion-label stacked>Latitide</ion-label>
							<ion-input type="text" [ngModel]="biz?.biz_latitude" name="biz_latitude" disabled (ngModelChange)="biz.biz_latitude = $event" ></ion-input>
						</ion-item>
						<ion-item>
							<ion-label stacked>Longitude</ion-label>
							<ion-input type="text" [ngModel]="biz?.biz_longitude" name="biz_longitude" disabled (ngModelChange)="biz.biz_longitude = $event" ></ion-input>
						</ion-item>
					<!-- </div> -->

					<ion-item>
							<ion-label>City</ion-label>
							<ion-select cancelText="Nah" okText="Okay!" [ngModel]="biz?.biz_city" name="biz_city" (ngModelChange)="getCityAreas(biz.biz_city = $event)" >
								<ion-option *ngFor="let loc of cities" value="{{loc.id}}">{{loc.ct_name}}</ion-option>

							</ion-select>
					</ion-item>

					<ion-item>
							<ion-label>Location</ion-label>
							<ion-select cancelText="Nah" okText="Okay!" [ngModel]="biz?.biz_location" name="biz_location" (blur)="getCityAreas(biz.biz_location)" >
								<ion-option *ngFor="let area of areas" value="{{area.id}}">{{area.area_name}}</ion-option>

							</ion-select>
					</ion-item>

					<ion-item>
						<ion-label>Business Category </ion-label>
							<ion-select cancelText="Cancel" okText="Select!" [ngModel]="biz?.biz_category" name="biz_category" >
								<ion-option *ngFor="let cat of categories" value="{{cat.id}}">{{cat.cat_name}}</ion-option>

							</ion-select>
					</ion-item>


					<ion-item>
						<ion-label stacked>Intro Message</ion-label>
						<ion-input type="text" name="biz_intro_message" [ngModel]="biz?.biz_intro_message"  (ngModelChange)="biz.biz_intro_message = $event" ></ion-input>
					</ion-item>

				</ion-list>

				<div>
					<button class="update-btn" (click)="updateProfile(biz)" block ion-button>Update Profile</button>
				</div>
			</form>
		</div>
	</div>
</ion-content>