<!--
  Generated template for the HealthInsurance page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar style="margin: 0px;">
    	<ion-title>Health Insurance</ion-title>
  	</ion-navbar>
</ion-header>


<ion-content>
	<section>
		<ion-row>
            <ion-col> 

            	<div style="font-size: 16px; padding: 10px;">
			    	Registration with CAC
			    </div>
			    <div style="font-size: 13px; padding: 10px; border-bottom: 1px solid #e8e8e8;">
			    	We understand that most small businesses are not legally registrated with Corporate Affairs Commission. We do not want you to worry about that. BizStreet has an amazing offer for you. You simply cannot get it anywhere. If you are one of those, simply fill teh form below, our representative will ring you sharply. Simply because we love you.
			    </div>

				<br />
				<div style="font-size: 13px; padding: 10px;">
					<strong>JUST GO AHEAD?</strong>
				</div>

				<ion-list>
					<ion-item>
                        <ion-label stacked>Business name </ion-label>
                        <ion-input type="text"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label stacked>Alternative business name </ion-label>
                        <ion-input type="text"></ion-input>
                    </ion-item>

		   			<ion-item>
						<ion-label>Type of Registration</ion-label>
						<ion-select cancelText="Nah" okText="Okay!">
							<ion-option>Business name</ion-option>
							<ion-option>Company registration</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label>Prefered mode of Communication</ion-label>
						<ion-select cancelText="Nah" okText="Okay!">
							<!-- <ion-option>Select a plan</ion-option> -->
							<ion-option>Phone</ion-option>
							<ion-option>Email</ion-option>
							<ion-option>Phone and Email</ion-option>
						</ion-select>
					</ion-item>

					<ion-item>
                        <ion-label stacked>Primary nature of business </ion-label>
                        <ion-input type="text"></ion-input>
                    </ion-item>

			      	<button ion-button block (click)="goToConfirm()">Submit Details</button> 
			    </ion-list>

            </ion-col>
        </ion-row>
	</section>


	<!-- <section>
		<ion-row>
            <ion-col> 
            	<ion-list radio-group [(ngModel)]="benefits">
					<ion-list-header>
						Benefits
					</ion-list-header>

		   			<ion-item>
		   				<ion-label></ion-label>
		   				<ion-radio value="cord"></ion-radio>
		   			</ion-item>

			      	<button ion-button full (click)="sendMSG(MSG)">Send Message</button>
			    </ion-list>
            </ion-col>
        </ion-row>
	</section> -->
</ion-content>
