<ion-header>  
    <ion-icon name="menu" menuToggle></ion-icon>
    <img src="assets/img/logo2.png" />
</ion-header>

<ion-menu [content]="mycontent">
    <ion-content>
        <ion-list>
            <button ion-item menuClose (click)="openPage(catsPage)">
                Terms & Conditions <i class="icon ion-chevron-right"></i>
            </button>
            <button ion-item menuClose (click)="openPage(dogsPage)">
                F.A.Q <i class="icon ion-chevron-right"></i>
            </button>
            <button ion-item menuClose (click)="openPage(dogsPage)">
                Privacy Policy <i class="icon ion-chevron-right"></i>
            </button>
            <button ion-item menuClose (click)="openPage(dogsPage)">
                Logout <i class="icon ion-chevron-right"></i>
            </button>
        </ion-list>
        <!-- <ion-footer class="sidemenu-footer">
            <p>Copyright 2017. BizStreet</p>
        </ion-footer> -->
    </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>

<ion-content class="home-page">
    <!-- <div class="second"> 
        <ion-slides [options]="mySlideOptions">
            <ion-slide style="background-image: linear-gradient(rgba(35, 162, 77, 0.5),rgba(35, 162, 77, 0.5)), url(assets/img/dashboard-banner.jpg); background-size: cover;">
                <div style="width: 70%; margin: 0 auto;">
                    <h4 style="color: #fff;">Welcome To Bizstreet</h4>
                </div>
            </ion-slide>
            <ion-slide style="background-image: linear-gradient(rgba(35, 162, 77, 0.5),rgba(35, 162, 77, 0.5)), url(assets/img/card-saopaolo.png); background-size: cover;">
                <div style="width: 70%; margin: 0 auto;">
                    <h4 style="color: #fff;">You Can Register With CAC</h4>
                </div>
            </ion-slide>
            <ion-slide style="background-image: linear-gradient(rgba(35, 162, 77, 0.5),rgba(35, 162, 77, 0.5)), url(assets/img/health-insurance.jpg); background-size: cover;">
                <div style="width: 70%; margin: 0 auto;">
                    <h4 style="color: #fff;">Get Health Insurance</h4>
                </div>
            </ion-slide>
            <ion-slide style="background-image: linear-gradient(rgba(35, 162, 77, 0.5),rgba(35, 162, 77, 0.5)), url(assets/img/health-insurance.jpg); background-size: cover;">
                <div style="width: 70%; margin: 0 auto;">
                    <h4 style="color: #fff;">Get Business Advisors</h4>
                </div>
            </ion-slide>
        </ion-slides>
    </div> -->

    <ion-row>
        <ion-col col-12>
            <button (click)="goToSpecialOffers()" ion-button color="energized" block>Special Offers</button>
        </ion-col>
    </ion-row>


    <div class="third">
        <ion-searchbar (change)="goToSearchList(search)" [(ngModel)]="search"></ion-searchbar>
        <!-- <h4 id="heading">Featured Businesses</h4> -->    
        <ion-list>
            <ion-item *ngFor="let biz of businesses" (click)="goToBusinessDetails(biz.id)">
                
                    <ion-avatar item-left>
                        <img src="assets/img/card-saopaolo.png">
                    </ion-avatar>
                    <h2>{{biz.biz_name}}</h2>
                    <h6 style='color: #919191; font-size: 12px;'>{{biz.biz_category.cat_name}}</h6>
                
            </ion-item>
        </ion-list>
    </div>

</ion-content>

<ion-footer class="home-footer">
    <!-- <p>Register your business</p> -->
    <ion-row>
        <ion-col col-6>
            <button (click)="goToRegister()" ion-button color="secondary">Register</button>
        </ion-col>
        <ion-col col-6>
            <button (click)="goToLogin()" ion-button color="energized" class="login">Login</button>
        </ion-col>
    </ion-row>
</ion-footer>
