
ion-header img {
    margin-top: -1.5em;
}

ion-header ion-icon {
    margin: 3% 0em 0em 1em;
    font-size: 22px;
}

.home-page {
    width: 100%;
    height: 100%;
}

.top img {
    height: 40px;
    width: 40px;
    margin-top: 20px;
    display: block;
    margin: 0 auto;
}

.second {
    width: 100%;
    height: 30%;
    background-color: #23a24d;
}

.third {
    width: 100%;
    height: 70%;
}

.home-footer p {
    text-align: center;
    color: #23a24d;
    margin-bottom: 0.5em;
}

.third #heading {
    font-weight: bold;
    font-size: 14px;
    color: #23a24d;
}

.third .content {
    margin: 0em 1em 0em 1em;
}

.third ion-scroll ion-card {
    display: inline-block;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 50%;
}

.third ion-scroll ion-card img {
    height: 50px;
}

.third ion-scroll ion-card h4 {
    color: #23a24d;
}

.third ion-scroll ion-card h5 {
    color: #ccc;
    font-size: 12px;
}

.home-footer {
    background-color: #f5f5f5 !important;
    padding: 0em 0em 0.5em 0em;
}

.home-footer ion-row {
    margin: 0 auto;
    display: block;
    width: 65%;
}

.home-footer .login .image {
     height: 5vw; 
     width: 5vw; 
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background-color: #ebba16 !important;
}

.color-primary {
    background-color: #23a24d !important;
}

.color-secondary {
    background-color: #ebba16 !important;
}

.sidemenu-footer {
    padding: 1em;
}

.sidemenu-footer p {
    display: block;
    margin: 0 auto;
    width: 70%;
}

.image {
     height: 5vw; 
     width: 5vw; 
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}