<ion-header>  
  <ion-icon name="menu" menuToggle></ion-icon>
  <ion-title>Announcements</ion-title>
</ion-header>

<ion-menu [content]="mycontent">

    <ion-content>
        <ion-list>
             <button ion-item menuClose (click)="goToAnnouncements()">
                Anouncement
            </button>
            <button ion-item menuClose (click)="openPage(catsPage)">
                Terms & Conditions <i class="icon ion-chevron-right"></i>
            </button>
            <button ion-item menuClose (click)="openPage(dogsPage)">
                F.A.Q <i class="icon ion-chevron-right"></i>
            </button>
            <button ion-item menuClose (click)="openPage(dogsPage)">
                Privacy Policy <i class="icon ion-chevron-right"></i>
            </button>
            <button ion-item menuClose (click)="openPage(dogsPage)">
                Logout <i class="icon ion-chevron-right"></i>
            </button>
        </ion-list>

        <ion-footer class="sidemenu-footer">
          <p>Copyright 2017. Bizstreet</p>
        </ion-footer>
    </ion-content>

</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/img/card-saopaolo.png">
      </ion-thumbnail>
      <h2>My Neighbor Totoro</h2>
      <p>Hayao Miyazaki • 1988</p>
      <button ion-button clear item-right balanced>View</button>
    </ion-item>
  </ion-list>
</ion-content>
