<ion-header>  
  <ion-icon name="menu" menuToggle></ion-icon>
  <ion-title>Announcements</ion-title>
</ion-header>

<ion-menu [content]="mycontent">

    <ion-content>
        <ion-list>
             <button ion-item menuClose (click)="openPage(homePage)">
                Anouncement
            </button>
            <button ion-item menuClose (click)="openPage(catsPage)">
                Terms & Conditions <i class="icon ion-chevron-right"></i>
            </button>
            <button ion-item menuClose (click)="openPage(dogsPage)">
                F.A.Q <i class="icon ion-chevron-right"></i>
            </button>
            <button ion-item menuClose (click)="openPage(dogsPage)">
                Privacy Policy <i class="icon ion-chevron-right"></i>
            </button>
            <button ion-item menuClose (click)="openPage(dogsPage)">
                Logout <i class="icon ion-chevron-right"></i>
            </button>
        </ion-list>

        <ion-footer class="sidemenu-footer">
          <p>Copyright 2017. Bizstreet</p>
        </ion-footer>
    </ion-content>

</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>


<ion-content>
  
</ion-content>
