<!--
  Generated template for the HealthInsurance page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar style="margin: 0px;">
    	<ion-title>Health Insurance</ion-title>
  	</ion-navbar>
</ion-header>


<ion-content>
	<section>
		<ion-row>
            <ion-col> 

            	<div style="font-size: 16px; padding: 10px;">
			    	Benefits of the Scheme
			    </div>
			    <div style="font-size: 13px; padding: 10px; border-bottom: 1px solid #e8e8e8;">
			    	Our Health Insurance program is simply magical. With as little as 9000 Naria / year, you get amazing benefits as seen below.
			    </div>

			    <div style="font-size: 13px; padding: 10px; border-bottom: 1px solid #e8e8e8; color: #ccc">
			    	General and Specialist Consultation prescribed medicines and laboratory tests
			    </div>

			    <div style="font-size: 13px; padding: 10px; border-bottom: 1px solid #e8e8e8;  color: #ccc">
					Accidents & Emergencies : Resuscitative or life saving initial treatment
				</div>

				<div style="font-size: 13px; padding: 10px; border-bottom: 1px solid #e8e8e8; color: #ccc">
					Management of chronic diseases – consultation, prescription drugs and laboratory tests
				</div>

				<div style="font-size: 13px; padding: 10px; border-bottom: 1px solid #e8e8e8; color: #ccc">
					Accommodation (including feeding)
				</div>

				<div style="font-size: 13px; padding: 10px; border-bottom: 1px solid #e8e8e8; color: #ccc">
					Physiotherapy
				</div>

				<div style="font-size: 13px; padding: 10px; border-bottom: 1px solid #e8e8e8; color: #ccc">
					X-rays, Laboratory & Diagnostic Tests
				</div>

				<div style="font-size: 13px; padding: 10px; border-bottom: 1px solid #e8e8e8; color: #ccc">
					Routine Immunizations for 0 -5 years (NPI),including pentavalent vaccine (diphtheria, tetanus, whooping cough, hepatitis b and haemophilus influenza type b)
				</div>

				<div style="font-size: 13px; padding: 10px; border-bottom: 1px solid #e8e8e8; color: #ccc">
					Optical care : treatment of acute and chronic eye diseases
				</div>

				<div style="font-size: 13px; padding: 10px; border-bottom: 1px solid #e8e8e8; color: #ccc">
					Optical: Eye testing , lenses, frames, and contacts , lenses
				</div>

				<div style="font-size: 13px; padding: 10px; border-bottom: 1px solid #e8e8e8; color: #ccc">
					Primary dental care – relief of pain, filings, non surgical, extractions, preventive care, scaling and polishing
				</div>

				<div style="font-size: 13px; padding: 10px; border-bottom: 1px solid #e8e8e8; color: #ccc">
					Dental care limits
				</div>

				<div style="font-size: 13px; padding: 10px; border-bottom: 1px solid #e8e8e8; color: #ccc">
					Family planning services
				</div>

				<div style="font-size: 13px; padding: 10px; border-bottom: 1px solid #e8e8e8; color: #ccc">
					Ante-natal care + delivery + post natal care
				</div>

				<div style="font-size: 13px; padding: 10px; border-bottom: 1px solid #e8e8e8; color: #ccc">
					Surgeries including day case procedures (minor and intermediate surgeries only)
				</div>

				<div style="font-size: 13px; padding: 10px; color: #ccc">
					HIV/AIDS care & Treatment
				</div>

				<br />
				<div style="font-size: 13px; padding: 10px;">
					<strong>DO YOU WANT TO SUBSCRIBE?</strong>
				</div>

				<ion-list>
		   			<ion-item>
						<ion-label>Subscription Plan</ion-label>
						<ion-select cancelText="Nah" okText="Okay!">
							<!-- <ion-option>Select a plan</ion-option> -->
							<ion-option>BiStreet Plan / 9000 Naira</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label>Prefered mode of Communication</ion-label>
						<ion-select cancelText="Nah" okText="Okay!">
							<!-- <ion-option>Select a plan</ion-option> -->
							<ion-option>Phone</ion-option>
							<ion-option>Email</ion-option>
							<ion-option>Phone and Email</ion-option>
						</ion-select>
					</ion-item>

			      	<button ion-button block (click)="goToConfirm()">Submit Subscription</button> 
			    </ion-list>

            </ion-col>
        </ion-row>
	</section>


	<!-- <section>
		<ion-row>
            <ion-col> 
            	<ion-list radio-group [(ngModel)]="benefits">
					<ion-list-header>
						Benefits
					</ion-list-header>

		   			<ion-item>
		   				<ion-label></ion-label>
		   				<ion-radio value="cord"></ion-radio>
		   			</ion-item>

			      	<button ion-button full (click)="sendMSG(MSG)">Send Message</button>
			    </ion-list>
            </ion-col>
        </ion-row>
	</section> -->
</ion-content>
