<!--
  Generated template for the SearchMap page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Search Result Map View</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div #map id="map" style="height:100%;"></div>
</ion-content>
