<!--
  Generated template for the Messages page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Contact Messages</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item *ngFor="let msg of messages">
			<ion-icon name="folder" item-left></ion-icon>
			  <h2>{{msg.bc_user_name}}</h2>
			  <h3>{{msg.bc_user_phone}}</h3>
			  <h3>{{msg.bc_user_email}}</h3>
			  <h3>{{msg.bc_message_title}}</h3>
			  <p>{{msg.bc_message_notes}}</p>
			<!-- <ion-icon name="rose" item-right></ion-icon> -->
		</ion-item>
	</ion-list>
</ion-content>
