<ion-header>  
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToHome()">
        <ion-icon name="home" style="color: #ccc;"></ion-icon>
      </button>
    </ion-buttons>
    <ion-icon name="menu" menuToggle></ion-icon>
    <img src="assets/img/logo2.png" />
    </ion-navbar>
</ion-header>

<ion-menu [content]="mycontent">
    <ion-content>
        <ion-list>
            <button ion-item menuClose (click)="openPage(catsPage)">
                Terms & Conditions <i class="icon ion-chevron-right"></i>
            </button>
            <button ion-item menuClose (click)="openPage(dogsPage)">
                F.A.Q <i class="icon ion-chevron-right"></i>
            </button>
            <button ion-item menuClose (click)="openPage(dogsPage)">
                Privacy Policy <i class="icon ion-chevron-right"></i>
            </button>
            <button ion-item menuClose (click)="openPage(dogsPage)">
                Logout <i class="icon ion-chevron-right"></i>
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>

<ion-content>
    <section class="business-details-banner">
        <div style="font-size: 16px; text-align: center; color: #fff; padding-top: 15px;">
            <strong>{{business?.biz_name}}</strong>
        </div>
    </section>

    <section>
        <div style="font-size: 13px; text-align: center; padding: 10px;">
            {{business?.biz_intro_message}}
        </div>
        <div style="font-size: 13px; text-align: center; padding: 7px; color: #ccc;">
            {{business?.biz_address}}<br />
            {{business?.biz_location.area_name}}, {{business?.biz_city.ct_name}} <br />
            {{business?.biz_email}} <br />
        </div>

        <div style="font-size: 13px; text-align: center; padding: 7px; border-top:1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8;">
            <a href="tel:{{business?.biz_phone}}" ion-button round>
                <ion-icon name="call" style="color: #fff; margin-right: 10px;"></ion-icon>    Call This Business
            </a>
            <button ion-button round (click)="MS = true" *ngIf="!MS"  >
                <ion-icon name="mail" style="color: #fff;"></ion-icon>
            </button>
        </div>
    </section>

    <section>
        <ion-row>
            <ion-col>
                 <ion-list [hidden]="!MS">
                    <form>
                        <ion-item>
                            <ion-label stacked>Name</ion-label>
                            <ion-input type="text" name="bc_user_name" [(ngModel)]="MSG.bc_user_name" ></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label stacked>Email</ion-label>
                            <ion-input type="text" name="bc_user_email" [(ngModel)]="MSG.bc_user_email" ></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label stacked>Phone</ion-label>
                            <ion-input type="text" name="bc_user_phone" [(ngModel)]="MSG.bc_user_phone" ></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label stacked>Message Titile</ion-label>
                            <ion-input type="text" name="bc_message_title" [(ngModel)]="MSG.bc_message_title" ></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label stacked>Message </ion-label>
                            <ion-input type="text" name="bc_message_notes" [(ngModel)]="MSG.bc_message_notes" ></ion-input>
                        </ion-item>

                        <button ion-button full (click)="sendMSG(MSG)">Send Message</button>
                    </form>
                </ion-list>
                
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-card>
                    <img src="assets/img/card-saopaolo.png" alt="">   
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-card>
                    <img src="assets/img/card-saopaolo.png" alt="">   
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-card>
                    <img src="assets/img/card-saopaolo.png" alt="">   
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-card>
                    <img src="assets/img/card-saopaolo.png" alt="">   
                </ion-card>
            </ion-col>
        </ion-row>



    </section>


</ion-content>


<!-- <ion-footer class="home-footer">
    <!-- <p>Register your business</p> 
    <ion-row>
        <ion-col col-12 style="text-align: center;">
            <button ion-button block color="dark"><ion-icon name="bus"></ion-icon></button>
        </ion-col>
    </ion-row>
</ion-footer> -->