.business-details-banner {
	margin-top: -0.8em;
  	width: 100%;
  	height: 20%;
  	padding-top: 2em;
  	background-size: cover;
  	background-image: linear-gradient(rgba(35, 162, 77, 0.5),rgba(35, 162, 77, 0.5)), url('../assets/img/dashboard-banner.jpg');
}

