<!--
  Generated template for the HealthInsurance page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar style="margin: 0px;">
    	<ion-title>Get Loan</ion-title>
  	</ion-navbar>
</ion-header>


<ion-content>
	<section>
		<ion-row>
            <ion-col> 

            	<div style="font-size: 16px; padding: 10px;">
			    	Benefits of the Scheme
			    </div>
			    <div style="font-size: 13px; padding: 10px; border-bottom: 1px solid #e8e8e8;">
			    	As a small business, we help you get short term loans between 10K - 100K Naria.
			    </div>

			    

				<br />
				<div style="font-size: 13px; padding: 10px;">
					<strong>DO YOU WANT TO SUBSCRIBE?</strong>
				</div>

				<ion-list>
		   			<ion-item>
						<ion-label>Subscription duration</ion-label>
						<ion-select cancelText="Nah" okText="Okay!">
							<!-- <ion-option>Select a plan</ion-option> -->
							<ion-option>1 month repayment</ion-option>
							<ion-option>2 months repayment</ion-option>
							<ion-option>3 months and above repayment</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label>Select Bank</ion-label>
						<ion-select cancelText="Nah" okText="Okay!">
							<!-- <ion-option>Select a plan</ion-option> -->
							<ion-option>NEXIM Bank</ion-option>
							<ion-option>Microfinance Bank</ion-option>
							<ion-option>Nigeria Import/Export Promotion Council</ion-option>
							<ion-option>Commercial Bank</ion-option>
						</ion-select>
					</ion-item>
					<ion-item>
						<ion-label>Prefered mode of Communication</ion-label>
						<ion-select cancelText="Nah" okText="Okay!">
							<!-- <ion-option>Select a plan</ion-option> -->
							<ion-option>Phone</ion-option>
							<ion-option>Email</ion-option>
							<ion-option>Phone and Email</ion-option>
						</ion-select>
					</ion-item>

			      	<button ion-button block (click)="goToConfirm()">Submit Subscription</button> 
			    </ion-list>

            </ion-col>
        </ion-row>
	</section>


	<!-- <section>
		<ion-row>
            <ion-col> 
            	<ion-list radio-group [(ngModel)]="benefits">
					<ion-list-header>
						Benefits
					</ion-list-header>

		   			<ion-item>
		   				<ion-label></ion-label>
		   				<ion-radio value="cord"></ion-radio>
		   			</ion-item>

			      	<button ion-button full (click)="sendMSG(MSG)">Send Message</button>
			    </ion-list>
            </ion-col>
        </ion-row>
	</section> -->
</ion-content>
