
<ion-header>

  <ion-navbar>
    <ion-title>Search Businesses</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
		<ion-list>

			<ion-item>
			    <ion-label>Location</ion-label>
			    <ion-select cancelText="cancel" okText="select" name="seaech_city" [(ngModel)]="search.search_city" >
			      <ion-option value="all" selected>All Locations</ion-option>
			      <ion-option *ngFor="let loc of cities" value="{{loc.id}}">{{loc.ct_name}}</ion-option>
			    </ion-select>
			</ion-item>

			<ion-item>
				<ion-label>Business Category</ion-label>
			    <ion-select cancelText="cancel" okText="select" name="search_category" [(ngModel)]="search.search_category" >
			      <ion-option *ngFor="let cat of categories" value="{{cat.id}}">{{cat.cat_name}}</ion-option>
			    </ion-select>
			</ion-item>
		</ion-list>		

		<div padding>
		  <button class="search-btn" (click)="goToSearchList(search)" block ion-button>GO !</button>
		</div>

</ion-content>
