
<ion-content class="signup-page">

	<div class="signup-content">
		<a (click)="goBackHome()"><img src="assets/img/logo2.png" /></a>
		<h4>Register your business</h4>
    <!-- Login Body -->
    <div class="login-form">
      <form ng-submit="signup()">
				<ion-list>

					<ion-item>
						<ion-label stacked>Name Of Business</ion-label>
						<ion-input type="text" [(ngModel)]="biz.biz_name" name="biz.biz_name" ></ion-input>
					</ion-item>

					<ion-item>
						<ion-label stacked>Email</ion-label>
						<ion-input type="email" [(ngModel)]="biz.biz_email" name="biz.biz_email" ></ion-input>
					</ion-item>

					<ion-item>
						<ion-label stacked>Phone Number</ion-label>
						<ion-input type="number" [(ngModel)]="biz.biz_phone" name="biz.biz_phone" ></ion-input>
					</ion-item>

					<ion-item>
						<ion-label stacked>Address</ion-label>
						<ion-input type="text" [(ngModel)]="biz.biz_address" name="biz.biz_address" (blur)="getCoordinates(biz.biz_address)"></ion-input>
					</ion-item>

					<div *ngIf="Coord">
						
						<ion-item>
							<ion-label stacked>Latitide</ion-label>
							<ion-input type="text" [(ngModel)]="biz.biz_latitude" name="biz_latitude" disabled></ion-input>
						</ion-item>
						<ion-item>
							<ion-label stacked>Longitude</ion-label>
							<ion-input type="text" [(ngModel)]="biz.biz_longitude" name="biz_longitude" disabled></ion-input>
						</ion-item>
					</div>

					<ion-item>
							<ion-label>City</ion-label>
							<ion-select cancelText="Nah" okText="Okay!" [(ngModel)]="biz.biz_city" name="biz.biz_city" (ngModelChange)="getCityAreas(biz.biz_city = $event)" >
								<ion-option *ngFor="let loc of cities" value="{{loc.id}}">{{loc.ct_name}}</ion-option>

							</ion-select>
					</ion-item>

					<ion-item *ngIf="AA">
							<ion-label>Location</ion-label>
							<ion-select cancelText="Nah" okText="Okay!" [(ngModel)]="biz.biz_location" name="biz.biz_location" (blur)="getCityAreas(biz.biz_location)" >
								<ion-option *ngFor="let area of areas" value="{{area.id}}">{{area.area_name}}</ion-option>

							</ion-select>
					</ion-item>

					<ion-item>
						<ion-label>Business Category </ion-label>
							<ion-select cancelText="Nah" okText="Okay!" [(ngModel)]="biz.biz_category" name="biz.biz_category" >
								<ion-option *ngFor="let cat of categories" value="{{cat.id}}">{{cat.cat_name}}</ion-option>

							</ion-select>
					</ion-item>


					<ion-item>
						<ion-label stacked>Password</ion-label>
						<ion-input type="password" name="password" [(ngModel)]="biz.biz_password"></ion-input>
					</ion-item>

				</ion-list>

				<div>
					<button class="color-primary" (click)="signup(biz)" block ion-button>Get Started</button>
				</div>
      </form>
    </div>
    <!-- End -->
    <p>Already have an account? <a style="color: #23a24d !important;" (click)="goToLogin()">Sign In</a></p>
	</div>
 
</ion-content>
