
<ion-header>
    <ion-navbar>
        <ion-buttons end>
            <button ion-button icon-only (click)="goToHome()">
                <ion-icon name="home" style="color: #ccc;"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Search Results</ion-title>
    </ion-navbar> 
</ion-header>


<ion-content>
    <ion-searchbar [(ngModel)]="userFilter.biz_name" name="query"></ion-searchbar>

    <!-- <h4 id="heading">Featured Businesses</h4> -->    
    <ion-list>
        <ion-item *ngFor="let biz of searchResults | filterBy: userFilter">
            <!-- <a href='' (click)="goToBusinessDetails(biz.id)"> -->
                <ion-avatar item-left>
                    <img src="assets/img/card-saopaolo.png">
                </ion-avatar>
                <h2>{{biz.biz_name}}</h2>
                <h6 style='color: #919191; font-size: 12px;'>{{biz.biz_category.cat_name}}</h6>
                <!-- <p>{{biz.biz_intro_message}}</p> -->
                <!-- <button style="color: #23a24d;" ion-button clear item-right >View</button> -->
            <!-- </a> -->
        </ion-item>

        <div style="padding: 20%;" *ngIf="searchResults == null || searchResults == undefined || searchResults.length == 0">
            <p>There are is no business matching your search. Try changing your search parameters </p>
            <button style="background-color: #23a24d;" block ion-button (click)="goToSearch()" >Search Again</button>
        </div>
    </ion-list>

    <ion-fab right bottom>
        <button style="background-color: #23a24d;" ion-fab mini><ion-icon name="search"></ion-icon></button>
        <ion-fab-list side="top">
            <button ion-fab style="font-size: 0.6em;" *ngFor="let area of areas">{{area.area_name}}</button>
        </ion-fab-list>
    </ion-fab>

</ion-content>
